.container{
    border: 1px solid #e8ded5;
    margin: 20px;
    border-radius: 20px;
    padding: 20px 10px;
    color: #e8ded5;
}
.title:after {
    margin-left: 10px;
}
.title{
    cursor: pointer;
}
.content{
    margin-top: 10px;
    background-color: rgb(232, 222, 213, 0.1);
    border-radius: 10px;
    padding: 5px;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
}